<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48159016032-94ktbmhka37ook6aekqboj8n5alm9c2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48159016032-94ktbmhka37ook6aekqboj8n5alm9c2c</string>
	<key>API_KEY</key>
	<string>AIzaSyBNAySMsGsoCiRkdFIJ1Q0gaqqkt8-tCYk</string>
	<key>GCM_SENDER_ID</key>
	<string>48159016032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diary</string>
	<key>PROJECT_ID</key>
	<string>chat-diary-a42e7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-diary-a42e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48159016032:ios:4d004f3bea99f79bc52f05</string>
	<key>DATABASE_URL</key>
	<string>https://chat-diary-a42e7-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>